.login-body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(120deg, #ff5722, #ff9800);
}

.login-box {
  background: white;
  padding: 30px;
  width: 300px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.2);
}

.login-box input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
}
.note {
  font-size: 12px;
  color: gray;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  background: #f5f5f5;
}

header {
  background: #ff5722;
  color: white;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav a {
  color: white;
  margin-left: 15px;
  text-decoration: none;
  font-weight: bold;
}

.courses {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 40px;
}

.course-card {
  background: white;
  padding: 20px;
  width: 250px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  transition: transform 0.3s;
}

.course-card:hover {
  transform: scale(1.05);
}

.btn {
  display: inline-block;
  margin-top: 10px;
  padding: 10px 15px;
  background: #ff5722;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
}

/* COURSE CONTENT */
.course-content {
  max-width: 800px;
  margin: 40px auto;
  background: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

.course-content h2 {
  margin-bottom: 20px;
}

/* VIDEO RESPONSIVE */
.video-wrapper {
  position: relative;
  padding-top: 56.25%; /* 16:9 */
  margin-bottom: 20px;
}

.video-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 8px;
}

.progress-section {
  padding: 40px;
}

.progress-bar {
  width: 100%;
  background: #ddd;
  border-radius: 20px;
  overflow: hidden;
}

.progress {
  height: 30px;
  background: #4caf50;
  width: 0%;
  color: white;
  text-align: center;
  line-height: 30px;
}

footer {
  text-align:center;
  padding: 10px;
}
